body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.auth-container {
    width: 350px;
    margin: 120px auto;
    background: #222;
    padding: 25px;
    border-radius: 10px;
}

.box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
}

.box button {
    width: 100%;
    padding: 10px;
    background: dodgerblue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.box p span {
    color: cyan;
    cursor: pointer;
}

#app {
    padding: 20px;
    text-align: center;
}

textarea {
    width: 90%;
    height: 120px;
    padding: 10px;
}

#outputBox {
    margin-top: 20px;
    padding: 15px;
    background: #333;
    min-height: 50px;
}
